:root {
    --cor-base: #000;
    --cor-base-light: #00000014;
    --cor-secundaria: #808080;
    --cor-texto: #808080;
    --cor-texto-light: #bbbbbb;
    --cor-fechar: #ff0000;
    --cor-menu-background: #EDEDED;
    --cor-base-white: #ffffff;
    --cor-bordas: #FFFFFF35;
    --cor-botao-verde: #34C759;
    --cor-base-gold: #ffd700;
    --cor-base-college: #ebd4a0;
    --cor-base-brad-cox: #59544e;
}