@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

section {
    padding: 0 12px;
}

div.show {
    opacity: 1;
}

body {
    background: var(--cor-base-light);
    color: #fff;
    text-align: center;
    font-size: calc(1em + 0.5vw);
}

#cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
}

#card-1 {
    --index: 1;
}

#card-2 {
    --index: 2;
}

#card-3 {
    --index: 3;
}

#card-4 {
    --index: 4;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

    @scroll-timeline cards-element-scrolls-in-body {
        source: selector(body);
        scroll-offsets: selector(#cards) start 1, selector(#cards) start 0;
        start: selector(#cards) start 1;
        end: selector(#cards) start 0;
        time-range: 4s;
    }

    .card {
        --index0: calc(var(--index) - 1);
        --reverse-index: calc(var(--numcards) - var(--index0));
        --reverse-index0: calc(var(--reverse-index) - 1);
    }

    .card-content {
        transform-origin: 50% 0%;
        will-change: transform;
        --duration: calc(var(--reverse-index0) * 1s);
        --delay: calc(var(--index0) * 1s);
        animation: var(--duration) linear scale var(--delay) forwards;
        animation-timeline: cards-element-scrolls-in-body;
    }

    @keyframes scale {
        to {
            transform:
                    scale(calc(
                            1.1
                            -
                            calc(0.1 * var(--reverse-index))
                    ));
        }
    }
}

#debug {
    position: fixed;
    top: 1em;
    left: 1em;
}
#debug::after {
    content: " Show Debug";
    margin-left: 1.5em;
    color: white;
    white-space: nowrap;
}

#debug:checked ~ main {
    --outline-width: 1px;
}


#cards {
    list-style: none;
    outline: calc(var(--outline-width) * 10) solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
}

.card {
    outline: var(--outline-width) solid hotpink;
}

.card-content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    outline: var(--outline-width) solid lime;
}

.card-content > div {
    display: grid;
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;
    gap: 1em;
    place-items: start;
}

.card-content > figure {
    grid-area: img;
    overflow: hidden;
}

.card-content > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 300;
    font-size: 3.5em;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
}

p {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.42;
}

.btn {
    background: rgb(188 87 36);
    color: rgb(255 255 255);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
}

aside {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}

aside p {
    margin-bottom: 1em;
    color: var(--cor-texto);
}


@media (max-width: 768px) {
    .card-content > div {
        display: flex;
        flex-direction: column;
    }

    .card-content h2 {
        font-size: 20px;
    }

    .card-content p {
        font-size: 14px;
    }

    aside {
        margin: 135px auto 0;
    }
}

