@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* End of imports | generic styles config */

.logo-desktop {
    display: flex;
    align-items: center;
}

.logo-apple {
    transition: all .3s;
    width: 16px;
    height: 16px;
}

.logo-apple:hover {
    filter: invert(0.60);
}

.logo-apple.hide {
    opacity: 0;
}

div.mobile {
    display: none;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--cor-base);
    width: 100%;
    height: 42px;
    padding: 0 20px;
    gap: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all .3s;
    z-index: 1000;
}

.menu.opened {
    background: var(--cor-base);
}

.menu.opened img {
    border-radius: 50%;
}
.menu-list {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 940px;
    background: var(--cor-base);
    border-radius: 0 0 4px 0;
    border-bottom: 1px solid var(--cor-base);
    border-right: 1px solid var(--cor-base);
    transition: all .3s;
    padding-bottom: 5px;
    overflow: hidden;
    opacity: 0;
}

.menu-options {
    width: 96%;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid var(--cor-bordas);
}

.menu-list.active {
    opacity: 1;
    width: 100%;
    height: 890px;
    z-index: 999;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    border-bottom: thin solid var(--cor-bordas);
    height: 30px;
}

.options a {
    color: #fff;
}

.title-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 20px;
    gap: 3px;
    color: #fff;
    font-size: 16px;
}

.menu-options-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options-desktop a {
    color: var(--cor-texto-light);
    font-size: 12px;
    transition: color .3s;
}

.options-desktop a:hover {
    color: #fff;
}


.welcome {
    display: flex;
    gap: 4px;
    margin-left: 30px;
    margin-top: 4px;
    color: var(--cor-texto-light);
    font-size: 12px;
}

.welcome img {
    filter: invert(1);
}

.welcome .name:hover {
    color: #fff;
    cursor: pointer;
}

/* End of Header Styles */


/* End End of Section Styles */

.main-footer {
    background: var(--cor-base);
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--cor-secundaria);
    border-bottom: 1px solid var(--cor-secundaria);
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-base);
    padding: 0 10px;
    border-bottom: 1px solid var(--cor-secundaria);
    width: 90%;
    height: 45%;
    color: #fff;
    font-size: 14px;
}

.lgpd-content .lgpd {
    color: var(--cor-texto);
}

.content-1 a {
    transition: all .2s;
}

.content-1 a:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

.divisor {
    height: 3px;
    width: 2px;
    color: var(--cor-secundaria);
    margin: 0 6px;
}

.divisor-mobile {
    display: none;
}

.slogan-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan-footer .lgpd-mobile {
    display: none;
}

/* End of Footer Styles */

/* Mobile Configs for mobile and tablet*/

@media (max-width: 768px) {

    div.mobile {
        display: flex;
    }

    div.desktop {
        display: none;
    }

    ul.menu-options-desktop {
        display: none;
    }


    img.logo-apple {
        width: 32px;
        height: 32px;
    }

    .header-top {
        height: 70px;
        justify-content: space-between;
        gap: 0;
    }

    .main-footer {
        height: 180px;
    }

    .main-footer .container {
        flex-direction: column;
        border: none;
    }

    .main-footer .container .content-1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main-footer .container .slogan-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: 100%;
    }

    .divisor-mobile {
        display: flex;
        width: 100%;
        border-top: 1px solid var(--cor-secundaria);
    }

    .main-footer .container .slogan-footer .logo-apple {
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
    }

    .main-footer .container .slogan-footer .lgpd-mobile {
        display: flex;
    }

    .main-footer .container .lgpd-content {
        display: none;
    }

   .menu-opened {
       width: 32px;
       height: 32px;
   }
}