* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo-apple {
    filter: invert(1);
    opacity: 1;
    transition: all .3s;
}

.logo-apple.hide {
    opacity: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    width: 100%;
    height: 42px;
    padding: 0 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all .3s;
}

.menu.opened img {
    border-radius: 50%;
    filter: invert(1);
}
.menu-list {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0px;
    height: 500px;
    background: #000;
    border-radius: 0 0 4px 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transition: all .3s;
    padding-bottom: 5px;
    overflow: hidden;
    opacity: 0;
}

.menu-list.active {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.title-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 3px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.options {
    margin-top: 5px;
    color: #fff;
}
